/* variables */
:root {
	--site-bg-color: #ffffff;
	--main-color: #4f2c1d;
	--sub-main-color: #f5f2ed;
	--accent-color: #eee1ce;
	--footer-color: #ffffff;
	--btn-bg: transparent;
	--btn-border: #4f2c1d;
	--btn-text: #282828;
	--btn-bg-hover: #4f2c1d;
	--btn-border-hover: #4f2c1d;
	--btn-text-hover: #ffffff;

	--btn-bg-dark: #4f2c1d;
	--btn-border-dark: #4f2c1d;
	--btn-text-dark: #ffffff;
	--btn-bg-dark-hover: transparent;
	--btn-border-dark-hover: #4f2c1d;
	--btn-text-dark-hover: #282828;

	--btn-not_active: #d7d7d7;
	--btn-text-not_active: #adadad;

	--text-main-color: #4f2c1d;
	--text-color: #282828;
	--text-light: #979797;
	--text-contrast: #ffffff;
	--border-color: #d3cbc9;
	--icon-color: #502c1e;
	--icon-color-contrast: #ffffff;
	--link-color: #4f2c1d;

	--error-color: #fa2828;

	--border-r-size: 3px;

	--section-bottom: 48px;
}
