/* КАТАЛОГ */

.catalog_grid {
    padding-top: 50px;
    padding-bottom: 60px;
}

.catalog_grid .centre {
    display: flex;
    flex-wrap: wrap;
}

.catalog_grid .section_title {
    margin-bottom: 34px;
    width: 100%;
    text-align: center;
}

.catalog_grid aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 38px;
}

.pdf_btn {
    font-family: "Proxima-Nova";
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 12px;
    max-width: max-content;
    min-height: 38px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;

    .icon {
        width: 32px;
        height: 32px;
    }
}

.catalog_grid aside ul {
    display: flex;
    max-width: 100%;
    overflow-x: auto;

    li {
        margin: 0 12px;
        padding: 12px 0;
    }

    a {
        font-family: 'Proxima-Nova';
        font-weight: 300;
        font-size: 15px;
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 2px 12px;
        border-radius: 12px;
        position: relative;
        transition: 0.3s;

        &:hover {
            background-color: var(--accent-color);
        }

        &.active {
            background-color: var(--accent-color);
            cursor: unset;

            &::before {
                content: "";
                width: calc(100% + 8px);
                height: calc(100% + 8px);
                border: 1px solid var(--main-color);
                border-radius: 15px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
                opacity: 0.7;
            }
    
            &::after {
                content: "";
                width: calc(100% + 15px);
                height: calc(100% + 8px);
                border: 1px solid var(--main-color);
                border-radius: 15px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(4deg);
                z-index: -1;
                opacity: 0.7;
            }
        }
    }

    img {
        display: block;
        margin-right: 10px;
        width: 32px;
        height: 32px;
        object-fit: contain;
    }
}

.products_grid {

    width: 100%;
    
    ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    li {
        margin-bottom: 65px;
        width: calc(50% - 15px);

        &:nth-child(even) {
            margin-left: 30px;
        }
    }
}

.products_photo {
    display: block;
    margin: 0 auto 12px auto;
    width: 125px;
    height: 125px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.show_more-products {
    max-width: max-content;
    margin: 0 auto;
}