/*
ДОСЯГНЕННЯ
 */
.progress {
    padding: 58px 0 168px 0;
    position: relative;
    background-color: #f4f2ec;
}

.progress_bt-top {
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    z-index: -1;

    Img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.progress_bt-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    Img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.progress .centre {
    z-index: 1;
}

.progress .section_title {
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.progress_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.progress_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    width: 50%;

    B {
        font-family: "Playfair-Display", sans-serif;
        font-size: 70px;
        text-align: center;
        line-height: 1.4;
        font-weight: 400;
        color: var(--text-main-color);
    }

    Span {
        font-family: "Proxima-Nova", sans-serif;
        text-align: center;
        font-size: 20px;
        line-height: 1.4;
        color: var(--text-main-color);
    }
}