@media only screen and (min-width: 640px) {
  .catalog_prev-img {
    width: 230px;
    height: 230px;
  }

  .products_grid li {
    width: calc(33.333% - 20px);
  }
  .products_grid li:nth-child(even) {
    margin-left: 0;
  }
  .products_grid li:nth-child(3n+2), .products_grid li:nth-child(3n+3) {
    margin-left: 30px;
  }

  .popup {
    padding-top: 75px;
    padding-bottom: 85px;
  }

  .popup_btn-wrap {
    flex-direction: row;
  }

  .popup_btn-wrap .btn {
    text-align: center;
  }

  .popup_btn-wrap .btn + .btn {
    margin: 0 0 0 48px;
  }

  .code_wrap input[type=text] {
    flex: 0 0 55px;
    width: 55px;
    margin: 0 8px;
  }

  .order_inner {
    flex-direction: row;
  }

  .order_col-1 {
    flex: 1 1 50%;
    padding-right: 20px;
  }

  .order_col-2 {
    flex: 0 1 50%;
    max-width: 423px;
    height: max-content;
    padding: 36px 28px 50px 28px;
  }

  .order_col-2 .btn {
    max-width: none;
  }

  .progress_item {
    width: 33.33%;
  }
}
@media only screen and (min-width: 768px) {
  main {
    position: relative;
  }
  main::before {
    content: "";
    width: 465px;
    height: 408px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/main-bg-1.png");
    z-index: -1;
  }
  main::after {
    content: "";
    width: 510px;
    height: 287px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../images/main-bg-2.png");
    z-index: -1;
  }

  .main_title,
h1 {
    font-size: 80px;
  }

  h2,
.section_title {
    font-size: 60px;
  }

  h3,
.sub_title {
    font-size: 36px;
  }

  h4,
.item_title {
    font-size: 24px;
  }

  .btn {
    font-size: 24px;
    min-height: 74px;
    border-radius: 37px;
  }

  .btn .icon {
    width: 40px;
    height: 40px;
    margin-right: 13px;
  }

  .site_header .center {
    position: relative;
  }

  .mob_control {
    display: none;
  }

  .logo_header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .logo_header::before {
    content: url("../images/logo-bg.svg");
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .logo_header img {
    display: block;
    width: 75%;
    height: 75%;
    object-fit: contain;
  }

  .site_header.header_not-main .logo_header {
    height: 100%;
  }

  .site_header.header_not-main .logo_header::before {
    display: none;
  }

  .logo_header .mob_logo {
    display: none;
  }

  .logo_header .desk_logo {
    display: block;
  }

  .header_menu {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: 180px;
    padding-right: 40px;
  }
  .header_menu li {
    margin: 0 20px;
  }
  .header_menu a {
    font-family: "Proxima-Nova", sans-serif;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-main-color);
    transition: 0.3s;
    position: relative;
  }
  .header_menu a::before {
    content: "";
    width: 0;
    height: 1px;
    background-color: var(--text-main-color);
    position: absolute;
    top: 100%;
    left: 0;
    transition: 0.3s;
  }
  .header_menu a:hover::before {
    width: 100%;
  }

  .header_control {
    flex: 0 0 auto;
  }

  .header_control .search_btn {
    display: block;
    margin-right: 15px;
  }

  .header_control .icon {
    transition: 0.3s;
  }

  .header_control .search_btn:hover .icon,
.header_control .phone_btn:hover .icon,
.header_control .cart_btn:hover .icon {
    opacity: 0.7;
  }

  .site_footer .centre {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
  }

  .footer_subscribe {
    grid-column: 1/5;
    grid-row: 1/2;
    margin-bottom: 0;
  }

  .footer_menu {
    grid-column: 5/13;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 30px;
  }
  .footer_menu > ul {
    grid-column: 1/5;
  }

  .footer_contacts {
    grid-column: 5/9;
  }

  .footer_contacts {
    margin-bottom: 0;
  }

  .privacy_policy {
    grid-column: 1/13;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .privacy_policy a {
    transition: 0.3s;
  }
  .privacy_policy a:hover {
    color: var(--text-color);
  }

  .social_list a:hover .icon {
    fill: var(--icon-color);
  }

  .footer_menu a {
    transition: 0.3s;
  }
  .footer_menu a:hover {
    color: var(--text-color);
  }

  .banner_slide .main_title {
    font-size: 50px;
  }

  .banner_slide .centre > * {
    width: 50%;
  }

  .banner_text {
    font-size: 22px;
  }

  .banner_services a {
    font-size: 24px;
  }

  .catalog_prev-item {
    width: 33.333%;
  }

  .preference {
    padding: 280px 0 105px 0;
  }

  .choose_service {
    padding: 100px 0 130px 0;
  }

  .choose_service .centre > * {
    width: 50%;
  }

  .choose_service .section_title {
    margin-bottom: 60px;
  }

  .catalog_grid aside {
    width: 260px;
  }

  .pdf_btn {
    font-size: 15px;
    min-height: 38px;
    border-radius: 20px;
    margin-bottom: 50px;
  }

  .catalog_grid aside ul {
    flex-direction: column;
    overflow-x: unset;
  }

  .products_grid {
    width: calc(100% - 260px);
    padding-left: 40px;
  }

  .products_grid li {
    width: calc(50% - 15px);
  }
  .products_grid li:nth-child(3n+2), .products_grid li:nth-child(3n+3) {
    margin-left: 0;
  }
  .products_grid li:nth-child(even) {
    margin-left: 30px;
  }

  .products_grid .categories {
    font-size: 16px;
  }

  .product_link {
    font-size: 24px;
    margin-bottom: 42px;
  }

  .product_price {
    font-size: 24px;
  }

  .weight_list {
    font-size: 16px;
  }

  .price_wrap {
    width: calc(100% - 55px);
  }

  .product_btn {
    width: 55px;
    height: 40px;
    border-radius: 20px;
  }

  .product_header-mob {
    display: none;
  }

  .catalog_details .centre {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .product_photo-slider {
    margin-bottom: 0;
    padding-right: 15px;
    width: 50%;
  }

  .product_photo-slider .slick-next.slick-arrow {
    right: 15px;
  }

  .product_info {
    padding-left: 15px;
    width: 50%;
  }

  .product_header-desk {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .product_header-desk .section_title {
    width: 100%;
    margin-bottom: 18px;
  }

  .product_header-desk .product_article {
    margin-right: 50px;
  }

  .product_control {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .product_control .left_col {
    margin-bottom: 0;
    padding-right: 10px;
  }

  .product_control .right_col {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
  }

  .buy_btn {
    border: 2px solid var(--btn-bg-dark);
    transition: 0.3s;
  }

  .buy_btn:hover {
    background-color: var(--btn-bg-dark-hover);
    color: var(--btn-text-dark-hover);
  }

  .buy_btn:hover .icon {
    stroke: var(--btn-bg-dark-hover);
  }

  .product_banner Span {
    display: inline-block;
    text-align: start;
  }

  .characteristic Td:nth-child(1) {
    width: 40%;
  }

  .characteristic Td:nth-child(2) {
    width: 60%;
  }

  .cart_popup .sub_title {
    margin-bottom: 50px;
  }

  .cart_image {
    display: block;
    margin-right: 30px;
    width: 94px;
    height: 94px;
  }
  .cart_image Img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .cart_list Li {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .cart_col-1 {
    margin-right: 30px;
  }

  .cart_counter {
    margin: 0 30px;
  }

  .cart_col-2 {
    max-width: max-content;
    margin: 0 40px 0 auto;
  }

  .cart_item-price {
    font-size: 20px;
  }

  .cart_item-delete {
    font-size: 0;
    position: relative;
    top: auto;
    left: auto;
  }

  .cart_btns-wrap {
    flex-direction: row;
  }

  .cart_btns-wrap .btn {
    max-width: 260px;
    min-height: 46px;
    border-radius: 23px;
    padding-left: 23px;
    padding-right: 23px;
  }

  .cart_btns-wrap .btn + .btn {
    margin: 0;
  }

  .cart_btns-wrap .btn:nth-child(1) {
    order: 3;
  }

  .cart_btns-wrap .btn:nth-child(2) {
    margin: 0 22px 0 auto;
    order: 2;
  }

  .cart_btns-wrap .btn:nth-child(3) {
    order: 1;
    margin-right: 22px;
  }

  .cart_slider:not(.slick-initialized) .cart_slider-item {
    flex: 0 0 50%;
  }

  .articles_link {
    font-size: 22px;
  }

  .articles_banner {
    margin-bottom: 140px;
  }

  .article_two {
    font-size: 18px;
    line-height: 1.9;
    position: relative;
  }
  .article_two::after {
    content: "";
    width: 930px;
    height: 930px;
    background-color: #f6f4ef;
    border-radius: 50%;
    position: absolute;
    top: 420px;
    left: 175px;
    z-index: -1;
  }

  .article_two Header {
    display: grid;
    grid-template-columns: 2fr 0.9fr;
    align-items: center;
    grid-gap: 20px;
  }

  .article_two Header {
    margin-bottom: 147px;
  }
  .article_two Header > * {
    margin-bottom: 0;
  }

  .articles_picture {
    margin-bottom: 0;
  }

  .article_row {
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
  }

  .article_row.right_image .article_text {
    flex: 1 1 auto;
    padding-right: 30px;
  }
  .article_row.right_image .articles_picture {
    flex: 0 0 57.5%;
  }

  .article_row.left_image {
    flex-direction: row-reverse;
  }
  .article_row.left_image .article_text {
    flex: 1 1 auto;
    padding-left: 30px;
  }
  .article_row.left_image .articles_picture {
    flex: 0 0 40%;
  }

  .progress {
    padding: 80px 0 256px 0;
  }

  .progress .section_title {
    margin-bottom: 40px;
  }

  .year_article Header {
    display: flex;
    flex-wrap: wrap;
  }

  .year_header-text {
    width: calc(100% - 390px);
    margin-left: auto;
  }

  .article_bottom-text {
    flex-direction: row;
    align-items: center;
  }

  .article_photo-bottom-wrap {
    flex: 0 0 330px;
    max-width: 330px;
    padding: 0 30px 50px 0;
    position: relative;
  }
  .article_photo-bottom-wrap::after {
    content: "";
    width: 1px;
    height: 100%;
    max-height: 235px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .year_bottom-text {
    flex: 1 1 auto;
    padding-left: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  .site_footer {
    padding: 42px 0 65px 0;
  }

  .footer_menu > ul {
    grid-column: 1/7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer_menu > ul > li {
    width: calc(50% - 15px);
  }

  .footer_contacts {
    grid-column: 7/9;
  }

  .footer_menu > ul .footer_title {
    border-bottom: none;
  }

  .footer_menu > ul .footer_title::before,
.footer_menu > ul .footer_title::after {
    display: none;
  }

  .footer_menu .hidden_footer {
    display: flex;
  }

  .banner_services {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .banner_services li + li {
    margin-top: 0;
  }

  .banner_services li {
    width: calc(50% - 10px);
  }

  .services_icon {
    flex: 0 0 75px;
    width: 75px;
    height: 75px;
  }

  .services_icon .icon {
    width: 40px;
    height: 40px;
  }

  .catalog_prev {
    padding-top: 177px;
    padding-bottom: 100px;
  }

  .catalog_prev .section_title {
    margin-bottom: 30px;
  }

  .products_slider-inner {
    min-height: 395px;
  }

  .products_slider-inner figure {
    width: 275px;
  }

  .products_image {
    width: 200px;
    height: 200px;
  }

  .products_slider-inner.slick-initialized figure.slick-center .products_image {
    width: 275px;
    height: 275px;
  }

  .catalog_prev-item {
    margin-bottom: 65px;
  }

  .catalog_prev-text {
    font-size: 18px;
    margin-bottom: 100px;
    max-width: 800px;
  }

  .catalog_prev-img {
    margin-bottom: 55px;
  }

  .catalog_prev-item figcaption a {
    font-size: 22px;
  }

  .catalog_prev-grid {
    margin-bottom: 75px;
  }

  .preference .centre {
    flex-direction: row;
  }

  .preference_text {
    width: 55%;
    margin-bottom: 0;
  }

  .preference_text .section_title {
    margin-bottom: 35px;
  }

  .preference ul {
    width: 45%;
    padding-left: 110px;
  }
  .preference ul li {
    padding: 5px;
  }
  .preference ul li:nth-child(even) {
    transform: translateX(-65px);
  }
  .preference ul img {
    flex: 0 0 90px;
    width: 90px;
    height: 90px;
    margin-left: -50px;
  }

  .preference_bg {
    margin-top: -80px;
    width: 250px;
  }

  .products_grid li {
    width: calc(33.333% - 20px);
  }
  .products_grid li:nth-child(even) {
    margin-left: 0;
  }
  .products_grid li:nth-child(3n+2), .products_grid li:nth-child(3n+3) {
    margin-left: 30px;
  }

  .catalog_details {
    padding-bottom: 100px;
  }

  .product_control {
    margin-bottom: 30px;
    padding: 38px 20px 30px 36px;
  }

  .product_banner {
    margin-bottom: 50px;
    padding: 14px 140px 14px 38px;
    position: relative;
  }

  .product_banner::after {
    content: "";
    width: 86px;
    height: 45px;
    background-image: url("../images/banner-product.png");
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 40px;
  }

  .product_description > * {
    margin-bottom: 16px;
  }

  .product_description {
    line-height: 2;
    margin-bottom: 28px;
  }

  .characteristic Td {
    font-size: 16px;
  }

  .cart_slider.slick-initialized {
    padding: 0 48px;
  }

  .cart_slider-item {
    flex-direction: row;
    padding: 0 25px;
  }

  .cart_slider-img {
    margin-right: 25px;
  }

  .decor_list {
    max-height: 600px;
  }

  .order {
    padding: 35px 0 150px 0;
  }

  .order .section_title {
    margin-bottom: 76px;
  }

  .order_title {
    margin-bottom: 34px;
  }

  .order_title:not(:first-child) {
    margin-top: 68px;
  }

  .order_grid-two {
    grid-template-columns: 1fr 1fr;
  }

  .articles_list {
    margin-bottom: 100px;
  }

  .articles_list Li {
    margin: 0 22px;
  }

  .articles_first h1,
.articles_first h2,
.articles_first h3,
.articles_first h4 {
    margin-bottom: 50px;
  }

  .articles_first .articles_text {
    margin-bottom: 126px;
  }

  .articles_grid {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 140px;
  }

  .progress_item B {
    font-size: 155px;
    line-height: 1.2;
  }
  .progress_item Span {
    font-size: 30px;
  }

  .article_photo-bottom-wrap {
    flex: 0 0 530px;
    max-width: 530px;
  }

  .year_bottom-text {
    padding-left: 115px;
  }
}
@media only screen and (min-width: 1280px) {
  .clickpath {
    padding-top: 100px;
  }

  .logo_header {
    width: 200px;
    height: 130px;
  }
  .logo_header::before {
    height: calc(100% + 20px);
  }

  .header_menu {
    margin-left: 230px;
  }
  .header_menu li {
    margin: 0 30px;
  }

  .header_control .search_btn,
.header_control .phone_btn {
    margin-right: 25px;
  }

  .banner_slide .main_title {
    font-size: 80px;
  }

  .products_slider-inner {
    min-height: 450px;
  }

  .products_slider-inner figure {
    width: 350px;
  }

  .products_image {
    width: 230px;
    height: 230px;
  }

  .products_slider-inner.slick-initialized figure.slick-center .products_image {
    width: 350px;
    height: 350px;
  }

  .preference_text {
    padding-right: 100px;
  }

  .service_grid {
    padding: 120px 0 130px;
  }

  .service_grid .centre {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .service_item {
    width: 33.333%;
    padding: 0 10px;
    margin-bottom: 20px;
  }
  .service_item + .service_item {
    margin-top: 0;
  }
  .service_item > * {
    z-index: 1;
  }

  .service_photo {
    display: block;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    position: relative;
  }
  .service_photo::before {
    content: "";
    width: 205px;
    height: 205px;
    background-color: #fff;
    position: absolute;
    top: -10px;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  .service_text {
    margin-bottom: 40px;
  }

  .catalog_grid {
    padding-bottom: 100px;
  }

  .catalog_grid aside {
    width: 360px;
  }

  .pdf_btn {
    font-size: 18px;
    padding: 15px;
  }

  .catalog_grid aside ul {
    padding: 0 30px 0 15px;
  }

  .catalog_grid aside ul li {
    margin: 0 0 20px 0;
    padding: 0;
  }

  .catalog_grid aside ul a {
    font-size: 18px;
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 23px;
  }

  .catalog_grid aside ul a.active::before {
    width: calc(100% + 32px);
    height: calc(100% + 13px);
    border: 2px solid var(--main-color);
    border-radius: 30px;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: 30% 50%;
    opacity: 0.5;
  }

  .catalog_grid aside ul a.active::after {
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    border: 2px solid var(--main-color);
    border-radius: 30px;
    transform: translate(-50%, -50%) rotate(1deg);
    transform-origin: 20% 50%;
    opacity: 0.5;
    margin-top: 2px;
  }

  .catalog_grid aside ul img {
    width: 55px;
    height: 55px;
    margin-right: 22px;
  }

  .products_grid {
    padding-top: 36px;
    padding-left: 60px;
    width: calc(100% - 360px);
  }

  .catalog_grid .section_title {
    margin-bottom: 88px;
  }

  .products_photo {
    width: 100%;
    height: 230px;
    margin-bottom: 62px;
  }

  .products_grid li:nth-child(3n+2),
.products_grid li:nth-child(3n+3) {
    margin-left: 85px;
  }

  .products_grid li {
    width: calc(33.333% - 57px);
    margin-bottom: 110px;
  }

  .recommend_buy .sub_title {
    margin-bottom: 90px;
  }

  .show_more-products {
    letter-spacing: 0.4px;
    padding-left: 42px;
    padding-right: 42px;
  }

  .recommend_buy-item {
    padding: 0 35px 35px 35px;
  }

  .seen_goods {
    padding-top: 90px;
  }

  .seen_goods .sub_title {
    text-align: center;
  }

  .seen_goods-slider.slick-initialized .seen_goods-item {
    margin: 0 90px;
  }

  .cart_popup {
    padding: 45px 35px 100px 35px;
  }

  .cart_list Li {
    padding: 12px 15px 12px 10px;
  }

  .cart_image {
    margin-right: 36px;
  }

  .cart_col-2 {
    margin-right: 150px;
  }

  .cart_counter {
    margin: 0 50px;
  }

  .cart_counter-btn {
    transition: 0.3s;
  }
  .cart_counter-btn:hover {
    opacity: 0.7;
  }

  .total_sum B {
    margin-left: 80px;
  }

  .article_row {
    margin-bottom: 115px;
  }

  .article_row.right_image .article_text {
    padding-right: 150px;
  }

  .article_row.left_image .article_text {
    padding-left: 150px;
  }

  .article_photo-top-wrap {
    margin-left: 390px;
    width: calc(100% - 720px);
    padding: 0 30px 50px 0;
    position: relative;
  }
  .article_photo-top-wrap::after {
    content: "";
    width: 1px;
    height: 100%;
    max-height: 235px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
@media only screen and (min-width: 1530px) {
  .header_control .cart_btn .counter {
    top: 4px;
    right: -15px;
  }

  .main_banner .slick-dots {
    left: 50%;
    transform: translateX(-765px);
  }

  .products_slider-inner {
    min-height: 550px;
  }

  .products_slider .slick-arrow.slick-prev {
    left: calc(50% - 765px);
  }

  .products_slider .slick-arrow.slick-next {
    right: calc(50% - 765px);
  }

  .products_slider-inner figure {
    width: 490px;
  }

  .products_image {
    width: 260px;
    height: 260px;
  }

  .products_slider-inner.slick-initialized figure.slick-center .products_image {
    width: 450px;
    height: 450px;
  }
}