@media only screen and (min-width: 640px) {
  .catalog_prev-img {
    width: 230px;
    height: 230px;
  }
}
@media only screen and (min-width: 768px) {
  .main_title,
h1 {
    font-size: 80px;
  }

  h2,
.section_title {
    font-size: 60px;
  }

  h3,
.sub_title {
    font-size: 36px;
  }

  h4,
.item_title {
    font-size: 24px;
  }

  .btn {
    font-size: 24px;
    height: 74px;
    border-radius: 37px;
  }

  .btn .icon {
    width: 40px;
    height: 40px;
    margin-right: 13px;
  }

  .site_header .center {
    position: relative;
  }

  .mob_control {
    display: none;
  }

  .logo_header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .logo_header::before {
    content: url("../images/logo-bg.svg");
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .logo_header img {
    display: block;
    width: 75%;
    height: 75%;
    object-fit: contain;
  }

  .logo_header .mob_logo {
    display: none;
  }

  .logo_header .desk_logo {
    display: block;
  }

  .header_menu {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: 180px;
    padding-right: 40px;
  }
  .header_menu li {
    margin: 0 20px;
  }
  .header_menu a {
    font-family: "Proxima-Nova";
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-main-color);
    transition: 0.3s;
    position: relative;
  }
  .header_menu a::before {
    content: "";
    width: 0%;
    height: 1px;
    background-color: var(--text-main-color);
    position: absolute;
    top: 100%;
    left: 0;
    transition: 0.3s;
  }
  .header_menu a:hover::before {
    width: 100%;
  }

  .header_control {
    flex: 0 0 auto;
  }

  .header_control .search_btn {
    display: block;
    margin-right: 15px;
  }

  .header_control .icon {
    transition: 0.3s;
  }

  .header_control .search_btn:hover .icon,
.header_control .phone_btn:hover .icon,
.header_control .cart_btn:hover .icon {
    opacity: 0.7;
  }

  .site_footer .centre {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
  }

  .footer_subscribe {
    grid-column: 1/5;
    grid-row: 1/2;
    margin-bottom: 0;
  }

  .footer_menu {
    grid-column: 5/13;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 30px;
  }
  .footer_menu > ul {
    grid-column: 1/5;
  }

  .footer_contacts {
    grid-column: 5/9;
  }

  .footer_contacts {
    margin-bottom: 0;
  }

  .privacy_policy {
    grid-column: 1/13;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .privacy_policy a {
    transition: 0.3s;
  }
  .privacy_policy a:hover {
    color: var(--text-color);
  }

  .social_list a:hover .icon {
    fill: var(--icon-color);
  }

  .footer_menu a {
    transition: 0.3s;
  }
  .footer_menu a:hover {
    color: var(--text-color);
  }

  .banner_slide .main_title {
    font-size: 50px;
  }

  .banner_slide .centre > * {
    width: 50%;
  }

  .banner_text {
    font-size: 22px;
  }

  .banner_services a {
    font-size: 24px;
  }

  .catalog_prev-item {
    width: 33.333%;
  }

  .preference {
    padding: 280px 0 105px 0;
  }

  .choose_service {
    padding: 100px 0 130px 0;
  }

  .choose_service .centre > * {
    width: 50%;
  }

  .choose_service .section_title {
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 1024px) {
  .site_footer {
    padding: 42px 0 65px 0;
  }

  .footer_menu > ul {
    grid-column: 1/7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer_menu > ul > li {
    width: calc(50% - 15px);
  }

  .footer_contacts {
    grid-column: 7/9;
  }

  .footer_menu > ul .footer_title {
    border-bottom: none;
  }

  .footer_menu > ul .footer_title::before,
.footer_menu > ul .footer_title::after {
    display: none;
  }

  .footer_menu .hidden_footer {
    display: flex;
  }

  .banner_services {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .banner_services li + li {
    margin-top: 0;
  }

  .banner_services li {
    width: calc(50% - 10px);
  }

  .services_icon {
    flex: 0 0 75px;
    width: 75px;
    height: 75px;
  }

  .services_icon .icon {
    width: 40px;
    height: 40px;
  }

  .catalog_prev {
    padding-top: 177px;
    padding-bottom: 100px;
  }

  .catalog_prev .section_title {
    margin-bottom: 30px;
  }

  .products_slider-inner {
    min-height: 395px;
  }

  .products_slider-inner figure {
    width: 275px;
  }

  .products_image {
    width: 200px;
    height: 200px;
  }

  .products_slider-inner.slick-initialized figure.slick-center .products_image {
    width: 275px;
    height: 275px;
  }

  .catalog_prev-item {
    margin-bottom: 65px;
  }

  .catalog_prev-text {
    font-size: 18px;
    margin-bottom: 100px;
    max-width: 800px;
  }

  .catalog_prev-img {
    margin-bottom: 55px;
  }

  .catalog_prev-item figcaption a {
    font-size: 22px;
  }

  .catalog_prev-grid {
    margin-bottom: 75px;
  }

  .preference .centre {
    flex-direction: row;
  }

  .preference_text {
    width: 55%;
    margin-bottom: 0;
  }

  .preference_text .section_title {
    margin-bottom: 35px;
  }

  .preference ul {
    width: 45%;
    padding-left: 110px;
  }
  .preference ul li {
    padding: 5px;
  }
  .preference ul li:nth-child(even) {
    transform: translateX(-65px);
  }
  .preference ul img {
    flex: 0 0 90px;
    width: 90px;
    height: 90px;
    margin-left: -50px;
  }

  .preference_bg {
    margin-top: -80px;
    width: 250px;
  }
}
@media only screen and (min-width: 1280px) {
  .logo_header {
    width: 200px;
    height: 130px;
  }
  .logo_header::before {
    height: calc(100% + 20px);
  }

  .header_menu {
    margin-left: 230px;
  }
  .header_menu li {
    margin: 0 30px;
  }

  .header_control .search_btn,
.header_control .phone_btn {
    margin-right: 25px;
  }

  .banner_slide .main_title {
    font-size: 80px;
  }

  .products_slider-inner {
    min-height: 450px;
  }

  .products_slider-inner figure {
    width: 350px;
  }

  .products_image {
    width: 230px;
    height: 230px;
  }

  .products_slider-inner.slick-initialized figure.slick-center .products_image {
    width: 350px;
    height: 350px;
  }

  .preference_text {
    padding-right: 100px;
  }

  .service_grid {
    padding: 120px 0 130px;
  }

  .service_grid .centre {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .service_item {
    width: 33.333%;
    padding: 0 10px;
    margin-bottom: 20px;
  }
  .service_item + .service_item {
    margin-top: 0;
  }
  .service_item > * {
    z-index: 1;
  }

  .service_photo {
    display: block;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    position: relative;
  }
  .service_photo::before {
    content: "";
    width: 205px;
    height: 205px;
    background-color: #fff;
    position: absolute;
    top: -10px;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  .service_text {
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1530px) {
  .header_control .cart_btn .counter {
    top: 4px;
    right: -15px;
  }

  .main_banner .slick-dots {
    left: 50%;
    transform: translateX(-765px);
  }

  .products_slider-inner {
    min-height: 550px;
  }

  .products_slider .slick-arrow.slick-prev {
    left: calc(50% - 765px);
  }

  .products_slider .slick-arrow.slick-next {
    right: calc(50% - 765px);
  }

  .products_slider-inner figure {
    width: 490px;
  }

  .products_image {
    width: 260px;
    height: 260px;
  }

  .products_slider-inner.slick-initialized figure.slick-center .products_image {
    width: 450px;
    height: 450px;
  }
}